@import './variables';

.catalog {
  display: grid;
  padding-inline: 40px;
  padding-top: 50px;
  grid-template-columns: repeat(1, 250px);
  gap: 48px;
  row-gap: 46px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 250px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 250px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 250px);
  }
}
